<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ABEFITConnectionString" connectionString="Data Source=localhost;Initial Catalog=ABEFIT;user id=aluno; password=estesp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ABEFITConnectionString2" connectionString="Data Source=localhost;Initial Catalog=ABEFIT;user id=aluno; password=estesp;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ABEFITConnectionString3" connectionString="Data Source=localhost;Initial Catalog=ABEFIT;Integrated Security=True;User ID=aluno;Password=estesp"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>